* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 350vw;
  min-height: 350vh; }

.content {
  max-width: 500px;
  padding: 20px;
  margin-top: 150px;
  margin-left: 500px; }

.content > :not(:first-child) {
  margin-top: 10px; }

button {
  cursor: pointer;
  padding: 8px;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  background: #dedede;
  color: #000; }

button:hover {
  box-shadow: 0 0 4px #000; }

/* ----------------------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100vw); }

.overlay-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.widget {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 4px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: translateX(100vw); }

.toolbar-row {
  flex: 1; }

/* ------------------------------ */
.overlay-content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding: 20px; }

.banner {
  padding: 4px 8px;
  font-size: 18px;
  background: #4262ff;
  transform: translateX(100vw);
  color: white; }
